*\.o
*\.hi
*\.pgf
*\.gfo
*\.swp
*\.swo

saldo/generate/*
dist
*\.xml
saldo/xmlenL

saldo/xmlen


saldo/SaldoMain

saldo/Messages60.txt

saldo/.vimrc



doc/paper/Paper2.tex



doc/paper/Paper.pdf


.gitignore

saldo/MessagesS66.txt

saldo/MessagesS15.txt

saldo/MessagesS14.txt

saldo/FailS15.txt

saldo/FailS14.txt

saldo/FailS66.txt
