*\.o
*\.hi
*\.pgf
*\.gfo
*\.swp
*\.swo
*\.orig
*\.aux
*\.log
*\.nav
*\.snm
*\.toc
*\.out
*\.dot
*\.pdf
Malt
PennTreebank
*~
*\.swn


saldo/generate/*
dist

saldo/xmlenL

saldo/xmlen


saldo/SaldoMain


saldo/Messages60.txt

saldo/.vimrc


Talbanken05_20060604

doc/paper/Paper2.tex



doc/paper/Paper.pdf


.gitignore

saldo/MessagesS66.txt

saldo/MessagesS15.txt

saldo/MessagesS14.txt

saldo/FailS15.txt

saldo/FailS14.txt

.gitignore

saldo/SaldoSelection

saldo/MessagesS15.txt

saldo/MessagesS14.txt

saldo/FailS15.txt

saldo/FailS14.txt

saldo/Errors15.txt

saldo/Errors15.txt

.gitignore.orig

doc/planWeek43.txt.orig

doc/saldoNotes.txt.LOCAL.3135.txt

doc/saldoNotes.txt.BACKUP.3135.txt

doc/saldoNotes.txt.REMOTE.3135.txt

doc/saldoNotes.txt.orig

gf/saldo.zip

saldo/CountWords

saldo/SaldoTools.hs.orig

saldo/Saldoer.hs.orig

saldo/kast.hs

saldo/kastfail

saldo/saldo.xml

saldo/saldom.xml

saldo/importFiles/xmlenL

saldo/importFiles/xmlen

saldo/SaldoSelect.bak

saldo/SaldoMain.bak

.gitignore

testSuites/resFile2.txt

testSuites/Tester

testSuites/Parser

saldo/XMLWork

ParadigmsSwe.gf.txt

gf/ParadigmsSweOld.gf

gf/kast.hs

gf/Archive 2.zip

gf/Saldo.zip

diff.patch

gf/DictSweAbsOld.gf

gf/DictSweOld.gf

guessing/TestVerrSwe.gf

guessing/TestVerr.gf

guessing/TestVSwe.gf

guessing/TestV.gf

guessing/TestV.errlog

gf/TestVSwe.gf

gf/TestV.gf

guessing/TestGuessProg

guessing/CreateVerbList

mapping/GetSentences
