*\.o
*\.hi
*\.pgf
*\.gfo
*\.swp
*\.swo

saldo/generate/*
dist
*\.xml
saldo/xmlenL

saldo/xmlen

saldo/q

saldo/SaldoMain

saldo/Messages60.txt

saldo/.vimrc



doc/paper/Paper2.tex



doc/paper/Paper.pdf

saldo/Messages4.txt

saldo/Messages1.txt

saldo/Messages4.txt

saldo/Fail1.txt

saldo/Errors1.txt

saldo/Messages4.txt

.gitignore

.gitignore
