@import url(http://fonts.googleapis.com/css?family=Lato:100);

html {
	min-height : 100%;
	
	background: #666f7c; /* Old browsers */
	background: -moz-linear-gradient(top, #666f7c 0%, #dbe0e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666f7c), color-stop(100%,#dbe0e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #666f7c 0%,#dbe0e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #666f7c 0%,#dbe0e7 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #666f7c 0%,#dbe0e7 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666f7c', endColorstr='#dbe0e7',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #666f7c 0%,#dbe0e7 100%); /* W3C */
	background-repeat: no-repeat;
	
	font-size : 14px;
	font-family : helvetica,sans-serif;
}

.first a {
    color : #1C4257 !important;
    text-decoration: none;
}

.first a:hover {
    color : #B9E0F5;
    border-bottom : 1px dotted #B9E0F5;
}
.first > #result > p {
    max-width : 45%;
    line-height : 1.4em;
}


h2 {
	
	font-size : 1em;
}

ol, ul {
	list-style: none;
	padding : 0;
}

input[name=text] {
	width : 40%;
}

#header h1 {
	font-family : Lato,sans-serif;
	font-size : 4em;
	margin-top : 0;
	cursor : pointer;
	margin-bottom : 2em;
}
.first #header h1 {

}

.first #result > p {
}

.first #result > p > div {
	display : inline-block;
	vertical-align: top;
	margin-right : 1em;
	
}

.first p {
    
}

#result {
    padding-bottom : 1em;
}
body {
	width : 70%;
	margin : 0 auto;
	background-color : white;
	min-height : 94%;
	padding : 3em;
	padding-bottom : 0;
	opacity : 0;
	margin-top : 0.5em;
}
.second #result div img{
        max-height : 460px;
        max-width : 100%;
}
.more  #result img{
        max-height : 460px;
        max-width : 100%;
}

#completion {
    background-color: #D0D7F0;
    margin: 0 5px;
    padding: 5px 0;
    padding-left : 5px;
    width : 39%;
    margin-bottom : 5px;
}

#completion:empty {
    display : none;
}
